body {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 5px auto;
  font-size: 2.5em !important;
}

.jumbotron {
  background-color: rgba(200, 200, 200, 0.8);
  width: 370px;
  margin: 100px auto;
  border-radius: 7px;
  padding: 20px;
}

.login {
  width: 250px;
  margin: 0 auto;
}

.login label {
  font-weight: 300;
  margin-top: 10px;
  font-size: 1.5em;
}

.connected {
  display: inline;
  font-size: 1.2em !important;
}

.login-button {
  margin-top: 30px;
}

.pass-forgotten {
  margin-top: 17px;
}
