<div class="jumbotron">
  <h1 class="title text-center">Pide Cola 2.0</h1>
  <form #f="ngForm" class="login" (ngSubmit)="onLogin(f)">
    <flash-messages></flash-messages>
    <div class="form-group">
      <label for="userName">Usuario <br>(Sin @est.ucab.edu.ve)</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.userName"
        name="userName"
        autocapitalize="none"
        required
      />
      <label for="password">Contraseña</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="user.password"
        name="password"
        autocapitalize="none"
        required
      />
    </div>
    <div class="login-button text-center">
      <input type="submit" class="btn btn-primary login-button" value="Iniciar Sesión" />
    </div>
  </form>
  <div class="pass-forgotten text-center">
    <a href="#">Olvidé mi contraseña</a>
  </div>
</div>
