form {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  background-color: #085d20;
  width: 100%;
  color: #eee;
  padding: 3px 0 5px 0;
  transition: .6s;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 100%;
}

form input[type=time],
form input[type=submit] {
  width: auto;
}

form input[type="number"] {
  width: 60px;
}

form label {
  color: #eee;
  margin-top: 10px;
}

.information-btn {
  width: 90%;
  color: #000;
  cursor: pointer;
}

h4 {
  display: inline;
}

.fa {
  margin-top: -12px;
  margin-bottom: -20px;
}
